@layer base {
	// Estedad Font
	@font-face {
		font-family: "Estedad";
		src: url("../fonts/Estedad/Estedad-FD-Thin.woff2");
		font-weight: 300;
	}

	@font-face {
		font-family: "Estedad";
		src: url("../fonts/Estedad/Estedad-FD-Regular.woff2");
		font-weight: 400;
	}

	@font-face {
		font-family: "Estedad";
		src: url("../fonts/Estedad/Estedad-FD-Medium.woff2");
		font-weight: 500;
	}

	@font-face {
		font-family: "Estedad";
		src: url("../fonts/Estedad/Estedad-FD-SemiBold.woff2");
		font-weight: 600;
	}

	@font-face {
		font-family: "Estedad";
		src: url("../fonts/Estedad/Estedad-FD-Bold.woff2");
		font-weight: 700;
	}

	@font-face {
		font-family: "Estedad";
		src: url("../fonts/Estedad/Estedad-FD-ExtraBold.woff2");
		font-weight: 800;
	}

	@font-face {
		font-family: "Estedad";
		src: url("../fonts/Estedad/Estedad-FD-Black.woff2");
		font-weight: 900;
	}

	

}
